/* Input Text */
.inputText {
  @apply w-full my-1 py-2.5 px-4 border border-solid border-black outline-none font-bold text-sm text-black rounded-2xl md:py-3;
  background-color: rgba(255,255,255,.13);
}

.inputText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-sm text-black font-bold opacity-100 text-left;
}

.inputText::-ms-input-placeholder { /* Microsoft Edge */
  @apply text-sm text-black font-bold opacity-100 text-left;
}

.inputText:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @apply text-sm text-black font-bold opacity-100 text-left;
}

/* Schedule Input - [Radio] */

.selectItemRadio {
  margin: .75rem 0px;
  text-align: center;
}

.selectItemRadio:nth-of-type(2) {
  margin: 0 0.5rem;
}
.selectItemRadio label input {
  position: absolute;
  left: -9999px;
}

.selectItemRadio label input:checked + span {
  background-color: #dedede4a;
}

.selectItemRadio label input:checked + span:before {
  box-shadow: inset 0 0 0 1rem rgb(251, 191, 36);
}

.selectItemRadio label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

.selectItemRadio label span:hover {
  background-color: #dedede4a;
}

.selectItemRadio label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background: transparent;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 1.5px rgb(0, 0, 0);
}

.selectItemRadio label .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.selectItemRadio label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}





/* Select Inputs */

select {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 20px) calc(1em + 4.5px),
    calc(100% - 15px) calc(1em + 4.5px),
    calc(100% - 2.5em) 0.68em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, black 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.68em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}